/* Hero Container + Nav for all pages */
/* Background Image */
.hero {
  /* background: url(./Constants/stadium.jpg) center / cover; */
  background-image: url(./Constants/stadium.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.heroText {
  color: white;
}

/* logo */
.logo {
  height: 36vh;
}

.navbar {
  background-color: rgba(255, 255, 255, 1) !important;
}

.userInterface {
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 24px;
  border-radius: 10px;
}

/* End of Hero Container + Nav */

/* For Available Teams + Roster page */
.scrollbar {
  padding: 6px;
  margin: auto;
  max-width: 1100px;
}

.scrollbar-dc {
  padding: 6px;
  max-width: 92vw;
}

/* Specific UI height for Available Teams UI */
.available-ui-height {
  max-height: 60vh;
}

.scrollbar::-webkit-scrollbar {
  padding-left: 5px;
  width: 6px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(20, 20, 20, 0.4);
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.teams {
  flex-wrap: wrap;
}
/* End of Available Teams + Roster Page */

/* For team cards on Available Teams page */
.team {
  background-color: rgba(255, 255, 255, 1) !important;
  padding: 12px;
  border-radius: 6px;
  overflow-wrap: break-word;
  width: 20em;
}
/* End of team card on Available Teams Page */

.tile-image {
  max-width: 40vh !important;
  max-height: 40vh !important;
}

.image-gap {
  margin-right: 2rem;
}

.overlay {
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  height: 100%;
}

.is-overlay.overlay:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 1);
}

.overlay-text {
  font-weight: bold !important;
  font-size: 2.5rem !important;
  padding-top: 20%;
}
/* End of Image Icons on User Profile Page */

/* For  Roster Page */

.roster-header {
  text-align: center !important;
  align-content: center;
}

.roster-item {
  text-align: center !important;
  align-content: center;
}

.roster-title {
  padding-left: 3rem;
}

.table-wrapper {
  overflow-x: auto;
  font-size: 1.25em;
}

.table.is-truncated {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
  max-width: 1100px;
}

.table.is-truncated td, .table.is-truncated th {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td, .table th {
  padding: .5em .25em;
}
/* 
.table .is-truncated td &:first-child {
  text-overflow: clip;
} */

.clickable {
  cursor: pointer;
}

/* For Player Card */
.AttributeTable {
  flex-wrap: wrap;
  overflow-x: hidden;
}

.attribute {
  padding: 7px;
}

.attribute-icon {
  height: 4rem;
  width: 4rem;
}

.gap {
  text-align: left;
}

.gap-right {
  text-align: right;
}

/* End of Player Card */

/* End of  Roster Page */

/* Team Page */
.team-text {
  font-size: 1.2rem;
}
/* End of Team Page */
.media {
  height: 70%;
}

.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}
.right {
  justify-content: flex-end;
}
.bottom {
  align-items: flex-end;
}
.left {
  justify-content: flex-start;
}

.text-left {
  text-align: left;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

@media screen and (max-width: 900px) {

  .container {
    padding-bottom: 0;
  }

  table thead, table tfoot {
    display: none;
  }

  table tbody {
    display: table-caption;
  }

  table tbody tr:last-child td {
    border-bottom-width: 1px!important;
  } /* This style overrides something from Bulma */

  table td {
    display: flex;
  	padding: .75rem 0!important;
  }

  table th {
    text-align: center!important;
  }
  
  table td::before {
    content: attr(label);
    font-weight: bold;
    min-width: 40%;
    max-width: fit-content;
    margin: auto 1rem;
    text-align: right;
    display: block;
  }
  
  tr {
	  border-radius: .5rem!important;
    box-shadow: 0px 0px 15px -5px dimgrey!important;
    display: grid;
    width: auto;
    margin: .5rem;
    background-color: white;
  }
  
  .table {
	border-collapse: separate!important;
  border-spacing: 1rem;
  }
  
}  

@media screen and (max-width: 480px) {
  table td::before {
    min-width: 5rem;
  }
}