.jumbotron {
  background: #404040;
  color: white;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #b3adac;
  border-radius: 10%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
