/* .jumbotron {
  background: #404040;
  color: white;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #b3adac;
  border-radius: 10%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
} */

.hero {
  background: url(../img/stadium.jpg) center / cover;
}

.heroText {
  color: white;
}

@media (max-width: 1024px) {
  .hero {
    background: url(../img/stadium.jpg);
  }
}

@media (max-width: 768px) {
  .hero {
    background: url(../img/stadium.jpg);
  }
}

.navbar {
  background-color: rgba(255, 255, 255, 1) !important;
}

.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}
.right {
  justify-content: flex-end;
}
.bottom {
  align-items: flex-end;
}
.left {
  justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}
